<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snake.web.boot.module.rup.mapper.ModelCategoryMapper">
  <resultMap id="BaseResultMap" type="com.snake.web.boot.module.rup.model.ModelCategory">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="file_id" jdbcType="BIGINT" property="fileId" />
    <result column="set_file" jdbcType="BIT" property="setFile" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, name, parent_id, file_id, set_file, icon
  </sql>
</mapper>